<!DOCTYPE html>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/memomix.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
    <h1>Grid Layout : auto-flow 2</h1>
    <div class="container">
      <header>(1) header</header>
      <nav>(2) nav</nav>
      <article>(3) article</article>
      <footer>(4) footer</footer>
      <aside>(5) aside</aside>
    </div>
  </body>

</html>
